.header::after {
  content: "";
  display: block;
  border-top: 1px solid #545454;
  opacity: 0.7;
  margin-top: 41px;
}

.header__logo {
  margin-top: 40px;
  height: 33px;
  width: 173px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__logo {
    height: 24px;
    width: 126px;
    margin-top: 28px;
    margin-left: 27px;
  }
}
