.popup {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup_opened {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup__content {
  background-color: #ffffff;
  color: #000000;
  max-width: 430px;
  padding: 34px 36px 36px;
  position: relative;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.popup__header {
  margin: 0;
  font-weight: 900;
  font-size: 24px;
}

.popup__close {
  position: absolute;
  background: url("../images/close.svg") no-repeat center;
  width: 40px;
  height: 40px;
  right: -40px;
  top: -40px;
  transition: 0.3s;
}

.popup__close:hover {
  opacity: 0.6;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .popup__content {
    max-width: 282px;
  }
  .popup__close {
    width: 24px;
    height: 24px;
    right: 0px;
    top: -40px;
  }
}
