.profile {
  padding-top: 40px;
  display: flex;
  align-items: center;
}

.profile__avatar {
  height: 120px;
  width: 120px;
  position: relative;
  margin: auto;
}
.profile__avatar-img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile__change-avatar-button {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 45%;
  top: 0;
  right: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px;
  background-image: url("../images/pencil.png");
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity ease-in-out 0.2s;
}

.profile__change-avatar-button:hover {
  opacity: 1;
  cursor: pointer;
}
.profile__description {
  margin-left: 30px;
  flex-grow: 1;
  min-width: 0;
}

.profile__wrapper {
  display: flex;
  align-items: center;
}

.profile__title {
  margin: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  max-width: 520px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.profile__button-edit {
  padding: 0;
  background: url("../images/pen.svg") no-repeat center;
  background-size: 10px;
  margin-left: 18px;
  width: 24px;
  height: 24px;
  border: 1px solid white;
  cursor: pointer;
}
.profile__button-edit:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s;
}

.profile__subtitle {
  font-size: 18px;
  line-height: 22px;
  margin: 8px 0 0;
  max-width: 520px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.profile__button-add {
  padding: 0;
  min-width: 150px;
  height: 50px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  color: white;
  background: url("../images/plus.svg") no-repeat center;
  background-size: 22px;
  cursor: pointer;
}

.profile__button-add:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s;
}

@media screen and (max-width: 1279px) {
  .profile__title {
    font-size: 28px;
  }

  .profile__button-edit {
    width: 20px;
    height: 20px;
  }
  .profile__button-add {
    min-width: 120px;
    background-size: 18px;
  }
}

@media screen and (max-width: 767px) {
  .profile {
    flex-direction: column;
  }
  .profile__title {
    line-height: 27px;
    font-size: 22px;
    max-width: 250px;
  }

  .profile__description {
    margin: 30px 0 0 0;
  }

  .profile__button-edit {
    margin-left: 10px;
    width: 18px;
    height: 18px;
    background-size: 7.5px;
  }

  .profile__subtitle {
    text-align: center;
    max-width: 280px;
    font-size: 14px;
    line-height: 17px;
  }

  .profile__button-add {
    margin-top: 36px;
    width: 100%;
    background-size: 16px;
  }
}
